<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application>
        <meta-data
                android:name="org.godotengine.plugin.v1.GodotFacebook"
                android:value="com.onecat.godotfacebook.GodotFacebook" />
    </application>
</manifest>